<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmdx.ams.mapper.CompanyPositionMapper">

    <resultMap id="BaseResultMap" type="com.qmdx.ams.entity.CompanyPosition">
        <id column="id" property="id" />
        <result column="company_id" property="companyId" />
        <result column="position_id" property="positionId" />
        <result column="application_count" property="applicationCount" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        company_id,
        position_id,
        application_count
    </sql>

</mapper>
